main {
  height: 100%;
  width: 100%;
  margin: 5rem 0;
}

section.form-container {
  width: 100%;
  max-width: 30%;
  /* min-height: fit-content; */
  display: flex;
  flex-direction: column;
  /* justify-content has a default value of flex-start - so it's not needed */
  /* also don't need it since form has a flex-grow of 1 - it will always fill the entire available space of the parent flex container */
  /* there won't be any space left in the parent to justify along the main axis - Y when flex-direction is column */
  /* justify-content: flex-start; */
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;

  svg {
    margin-right: 0.25rem;
  }
}

.line {
  display: inline-block;
}

button.register-button {
  margin-top: 1rem;
}