.navbar {
  height: 100%;
  width: 100%;
  padding: 0.625rem 1.25rem;
  /* flex-grow: 1; */
  justify-content: space-between;
  background: #111111;

  h1 {
    /* position: relative;
    bottom: 8px; */
    /* font-size: 1.5rem; */
    line-height: 1;
  }

  ul.navbar-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  li {
    display: flex;

    span.role-badge {
      background-color: transparent;
    }

    svg {
      color: #696969;
    }
  }
}